@import 'theme/Colors';
@import 'theme/Forms';
@import 'theme/Links';

// Override Hydrokit theme
$hk-color-primary: $color-primary;
@import '@hydrokit/theme/theme.scss';
@import '@hydrokit/formfield/hydrokit-formfield.scss';
@import '@hydrokit/button/hydrokit-button.scss';
@import '@hydrokit/button/hydrokit-submit-button.scss';
@import '@hydrokit/textfield/hydrokit-textfield.scss';
@import '@hydrokit/checkbox/hydrokit-checkbox.scss';
@import '@hydrokit/popover-menu/hydrokit-popover-menu.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  // Define the theme
  --color-primary: #{$color-primary};
}

// Override react-icon theme
.icn {
  color: $color-icon;
  color: var(--color-icon, $color-icon);
  height: 1em;
  margin: -0.1em .05em 0 .1em;
  vertical-align: middle;
  @at-root {
    a:hover &,
    a:active & {
      color: var(--color-icon-state, $color-icon-state);
    }
  }
}
