@import 'theme/Colors';

.FridgePage {
  overflow: hidden;
  min-height: 100%;
  background-color: $color-secondary;
  --color-icon: #{$color-icon};

  &__Header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
  }
}