.FridgeIngredientInput {
  background-color: #ffffff;
  border: 1px solid darken($color: #ffffff, $amount: 0.1);
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.3);
  margin: 0em 1em 2em 1em;

  input {
    border-radius: 1em;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.8em 1.1em;
    border: solid 1px transparent;

    &:focus {
      outline: none;
    }
  }

  &SelectionBox {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 0 0 15px 15px;

    &__Item {
      padding: 0px 17px;

      &:last-of-type {
        margin-bottom: 10px;
      }
    }

    &__Item--selected {
      font-weight: bold;
    }

  }
}

