@import '../theme/Colors';

.WelcomePage {
  background-color: $color-secondary;

  min-height: 100vh;

  /* Center content in page */
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  &__Footer {
    margin: 2em 0;
    font-size: 0.8em;
    color: #ffffff !important;

    a {
      color: inherit !important;
    }
  }
}