@import 'theme/Colors';

.notification {
  // color: #ffffff;
  padding: 1em;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

  &--error {
    // background-color: $color-error;
    --color-icon: $color-error;
    color: $color-error;
    border: 1px solid darken($color-error, 10%);
  }

  &--success {
    // background-color: $color-success;
    --color-icon: $color-success;
    color: $color-success;
    border: 1px solid darken($color-success, 10%);
  }

  &__icon {
    margin-right: 1em;
  }
}